*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	background-color: #6899ec;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.winners {
	@include font($font-family-base, map-get($font-size, l), unset, bold);
	color: $color-font-light;
	width: 30rem;
	position: fixed;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.disabled {
	opacity: .25;
	pointer-events: none;
}
