$delay: 0.4s;
$base: 4rem;
$radius: 0.25rem;

$color-primary: #e20000;
$color-accent: #edba35;

$color-font-light: #ffffff;
$color-font-dark: #3d3d3d;

$color-button-background: #ffffff;
$color-button-disable: grey;

$color-background: #2b2b2b;

$font-family-base: Montserrat, Verdana, sans-serif;

$font-size: (
	xl: 3.2rem,
	l: 2.4rem,
	m: 1.8rem,
	s: 1.6rem,
	xs: 1.4rem
);
