$color-accent: #FCCD00;
$color-accent-hover: #FFF261;
$color-secondary: #0A617D;
$color-background: #222222;
$color-item-background: #303030;
$color-hover: #464646;
$color-text-light: #FFFFFF;
$color-text-dark: #8c8c8c;
$color-border: #464646;

$font-family: Roboto, Ubuntu, sans-serif;
$font-size-2xl: 3.2rem;
$font-size-xl: 2.4rem;
$font-size-l: 2rem;
$font-size-m: 1.6rem;

$duration: 0.2s;

$media-table: 768px;
$media-mobile: 441px;
