$color-button: darkgreen;
$color-text-light: #ffffff;

$color-field-border: rgb(136, 82, 0);
$color-domino-border: rgb(194, 139, 57);
$color-domino: rgb(244, 175, 72);
$color-numbers: rgb(103, 62, 16);
